/* Gallery Section */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.gallery-section {
    background-color: #4d2e1a; /* Warna coklat latar belakang */
    padding: 60px 20px;
    text-align: center;
}

.gallery-section h2 {
    font-size: 70px;
    font-weight: 700;
    color: #FEE6C0;
    margin-bottom: 20px;
    line-height: 1.2;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery-button {
    background-color: #774E29;
    color: #FFEEDB;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.gallery-button:hover {
    background-color: #A97D55;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}


.gallery-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.gallery-item img:hover {
    transform: scale(1.1); /* Efek zoom saat hover */
}

@media screen and (max-width: 767px) {
    .gallery-container {
        flex-direction: column;
        gap: 30px;
        max-width: 300px;
    }

    .gallery-section h2 {
        font-size: 48px;
    }
}