/* Gallery Section */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.gallery-section {
    background-color: #4d2e1a; /* Warna coklat latar belakang */
    padding: 50px 20px;
    text-align: center;
}

.gallery-section h2 {
    font-size: 36px;
    color: #f3e4cd; /* Warna teks judul */
    margin-bottom: 30px;
    font-weight: 700;
}

.gallery-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery-item {
    width: 30%;
    overflow: hidden;
    border-radius: 10px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.gallery-item img:hover {
    transform: scale(1.1); /* Efek zoom saat hover */
}
