* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
 }

body {
    background-color: #FFF1DA;
}

.hero-section {
    min-height: 100vh;
    padding: 0px 10px 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    width: 65%;
}

.hero-text h1 {
    font-size: 96px;
    font-weight: 700;
    line-height: 1.2;
    color: #774E29;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

.hero-text span {
    color: #4A290A;
}

.hero-text p {
    color: #4A290A;
    font-weight: 600;
    margin: 20px 0px 20px 0px;
}

.button-container {
    display: flex;
    column-gap: 20px;
}

.hero-text a {
    background-color: #774E29;
    padding: 5px 20px 5px 20px;
    color: #FFF7EB;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    transition: .3s ease-in;
}

.hero-text a:hover {
    background-color: #A97D55;
    transform: translateY(-2px);
    scale: 1.1;
}


.hero-img {
    width: 35%;
    display: flex;
    justify-content: flex-end;
}

.hero-img img {
    width: 400px;
}

@media (max-width: 767px) {
    .hero-section {
        background-image: url('/images/flyingbean.png'); 
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        min-height: 100vh;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    .hero-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-text {
        width: 100%;
        text-align: center;
    }
    
    .hero-img {
        width: 0%;
    }

    .hero-text h1 {
        font-size: 48px;
    }

    .hero-text p {
        font-size: 8px;
    }
    
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
    }

    .hero-img img {
        display: none;
    }
}

@media (min-width: 767px) and (max-width: 1050px) {
    .hero-section {
        background-image: url('/images/flyingbean.png'); 
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        min-height: 100vh;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    .hero-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-text {
        width: 100%;
        text-align: center;
    }
    
    .hero-img {
        width: 0%;
    }

    .hero-text h1 {
        font-size: 90px;
    }

    .hero-text p {
        font-size: 17px;
    }
    
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
    }

    .hero-img img {
        display: none;
    }
}



@media (min-width: 1050px) and (max-width: 1268px) {
    .hero-text h1 {
        font-size: 80px;
    }

    .hero-text p {
        font-size: 17px;
    }

    .hero-img img {
        width: 400px;
    }
}


.about-section {
    background-color: #4A290A;
    height : fit-content;
    padding: 30px 20px 30px 0px;
    display: flex;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
}

.about-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img {
    width: 40%;
}

.about-img img {
    width: 600px;
}

.about-text {
    margin: 50px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.about-heading h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    text-align: right;
    color: #DCA573;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

.about-heading span {
    color: #FEE6C0;
}

.about-heading > p {
    color: #FEE6C0;
    font-weight: 600;
    margin: 20px 0px 20px 0px;
    text-align: right;
}

.about-heading {
    max-width: 620px;
    margin-bottom: 20px;
}

.about-grid {
    display: grid; 
    margin-left: 30px;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
}

.about-item {
    background-color: #A97D55;
        padding: 10px 15px 10px 15px;
        border-radius: 30px;
        color: #FFF7EB;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
}

.about-item h3 {
    font-size: 18px;
}

.about-item p {
    color: #FFF7EB;
    font-size: 10px;
}

@media (max-width: 767px) {
    .about-section {
        background-color: #4A290A;
        height : fit-content;
        padding: 50px 20px 50px 0px;
        display: flex;
        padding-right: 20px;
        justify-content: center;
        align-items: center;
    }

    .about-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-text {
        width: 340px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 15px;
    }

    .about-heading{
        margin-bottom: 0;
    }

    .about-heading > h1 {
        font-size: 48px;
        text-align: center;
    }

    .about-heading > p {
        font-size:9px;
        text-align: center;
        margin: 20px;
    }

    .about-grid {
        display: grid; 
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
        grid-template-columns: repeat(1, 4fr); 
        gap: 20px;
    }
    
    .about-item {
        width: fit-content;
        background-color: #A97D55;
        padding: 10px 30px 10px 30px;
        border-radius: 30px;
        color: #FFF7EB;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    .about-item h3 {
        font-size: 14px;
    }
    
    .about-item p {
        font-size: 8px;
    }

    .about-img {
        width: 0%;
    }

    .about-img img {
        display: none;
    }
}

@media (min-width: 767px) and (max-width: 1050px) {
    .about-section {
        background-color: #4A290A;
        height : fit-content;
        padding: 30px 20px 30px 0px;
        display: flex;
        padding-right: 20px;
        justify-content: center;
        align-items: center;
    }
    
    .about-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-text {
        width: 600px;
        text-align: center;
    }

    .about-heading > h1 {
        font-size: 60px;
        text-align: center;
    }

    .about-heading > p {
        font-size: 15px;
        text-align: center;
    }

    .about-grid {
        margin: 0px;
    }

    .about-item h3 {
        font-size: 16px;
    }
    
    .about-item p {
        font-size: 10px;
    }

    .about-img {
        width: 0%;
    }

    .about-img img {
        display: none;
    }
    
    .about-img {
        width: 0%;
    }

    .about-img img {
        display: none;
    }
}

@media (min-width: 1050px) and (max-width: 1268px) {
    .about-img img {
        width: 500px;
    }

    .about-heading {
        max-width: 500px;
    }

    .about-heading > h1 {
        font-size: 70px;
    }

    .about-heading > p {
        font-size: 13px;
        margin: 30px 0px 30px 0px;
    }

    .about-item {
        padding: 10px 9px 10px 9px;
    }

    .about-item h3 {
        font-size: 15px;
    }
    
    .about-item p {
        font-size: 8.5px;
    }
}