
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFEEDB;
}

.testimonials-section {
    background-color: #FFEEDB;
    padding: 50px 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.testimonials-section h2 {
    font-size: 75px;
    font-weight: 700;
    line-height: 1.2;
    text-align: right;
    margin-bottom: 80px;
    color: #774E29;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

.testimonials-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    row-gap: 60px;
    max-width: 1200px;
    margin: 0 auto;
}

.testimonial-item {
    background-color: #4A290A;
    color: #ffffff;
    padding: 30px;
    border-radius: 30px;
    position: relative;
    text-align: center;
    padding-top: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.testimonial-profile {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid #4A290A; 
}

.testimonial-item h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px; 
    margin-bottom: 10px;
}

.testimonial-item p {
    font-size: 14px;
    color: white;
    text-align: justify;
    font-weight: 400;
}

.testimonial-item:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
    .testimonials-section {
        padding-top: 50px;
        padding-bottom: 25px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .testimonials-container{
    grid-template-columns: repeat(2, 1fr); 
    row-gap: 40px;
    }

    .testimonials-section h2 {
        font-size: 40px;
        margin-bottom: 50px;
    }

    .testimonial-item {
        padding-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
        border-radius: 20px;
        max-width: 200px;
    }

    .testimonial-profile {
        width: 60px;
        height: 60px;
        top: -30px;
    }

    .testimonial-item h3 {
        font-size: 16px;
    }
    
    .testimonial-item p {
        font-size: 9px;
        text-align: justify;
    }
}

@media (min-width: 767px) and (max-width: 1050px) {
    .testimonials-container{
        grid-template-columns: repeat(2, 1fr); 
        row-gap: 60px;
        }
}