<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contact.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Contact</title>
</head>
<body>
    <section class="contact-section">
        <div class="contact-overlay"></div>
        <div class="contact-container">
        <h1>Ready for Your Next Coffee Break?</h1>
        <h3>Visit The Cozy Cup whether you’re craving a bold espresso or a smooth latte, we have the perfect cup waiting for you. <br> Stop by, take a seat, and enjoy your favorite brew in the coziest atmosphere in town!</h3>
        <div class="contact-button">
            <a href="">Order</a> <a href="">Become a Member</a>
        </div>
        </div>
    </section>
</body>
</html>
