<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/gallery.css">
    <title>Gallery</title>
</head>
<body>
    <section class="gallery-section">
        <h2>Gallery</h2>
        <div class="gallery-container">
            <div class="gallery-item">
                <img src="/images/gambar 1.jpg" >
            </div>
            <div class="gallery-item">
                <img src="/images/gambar 2.jpg" >
            </div>
            <div class="gallery-item">
                <img src="/images/gambar 3.jpg" >
            </div>
        </div>
    </section>
</body>
</html>
