<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/testimoni.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Testimoni</title>
</head>
<body>
    <section class="testi-section">
        <h1 class="testi-heading">Testimonials</h1>
    <div class="testi-container">
    <div class="testi-item">
        <img src="/images/anon.jpeg" alt="Profile Picture">
        <h4>Emily R.</h4>
        <p>"Every visit to The Cozy Cup feels like a mini-retreat. The ambiance is inviting, and the staff remembers my order, making me feel valued. I love their rotating seasonal specialties; you can taste the passion in every cup. Highly recommended!"</p>
      </div>
      <div class="testi-item">
        <img src="/images/anon.jpeg" alt="Profile Picture">
        <h4>James T.</h4>
        <p>"As a coffee enthusiast, I find The Cozy Cup exceptional. Their attention to detail in brewing is unmatched, and the cozy seating is perfect for relaxing or socializing. I hosted a gathering here, and everyone loved the unique flavors. It's truly a sanctuary for coffee lovers!"</p>
      </div>
      <div class="testi-item">
        <img src="/images/anon.jpeg" alt="Profile Picture">
        <h4>Michael J.</h4>
        <p>"The Cozy Cup has transformed my coffee experience! From the inviting atmosphere to the friendly staff, I feel at home. Their seasonal blend is a delightful burst of flavors, and I love knowing my coffee is sustainably sourced. This is my go-to spot for great coffee and community!"</p>
      </div>
    </div>
</section>
</body>
</html>